.todo-list {
  margin-bottom: 0.4rem !important;
  cursor: pointer;
  color: lightgrey;
  font-weight: 400;
}

.todo-list:last-child {
  margin-bottom: 0 !important;
}

.todo-list.done {
  text-decoration: line-through;
}

.todo-list.important {
  font-weight: 700;
  color: firebrick;
}
